*{margin: 0; padding: 0; box-sizing: border-box;}
body{ font-family: 'Poppins', sans-serif;}

$color-main: #1D539E;
$color-yellow: #FFCC29;
$color-black: #0000;
$color-withe: #fff;
$color-green: #59CE9F;
$color-gray: #828799;

header{
    flex-direction: column;
    width: 100%;
    height: 40vh;
    background: $color-main;
    position: relative;

    h1, p{
        color: $color-withe;
        font-size: 4rem;
    }
    p{
        font-size: 1.3rem;
        padding: 1rem 30rem 1rem 30rem;
        text-align: center;
    }
}
.pricingTable, header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 380px;

    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
    }

   .box{
        width: 400px;
        height: 500px;
        background: $color-withe;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        margin: 1rem;
        position: relative;
        border-radius: 0.9rem;


        .card{
            p{
                margin: 1rem;
                font-size: 1.2rem;
                font-weight: 600;
            }
            .recomendationPlanOne, .recomendationPlanTwo, .recomendationPlanThree{
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: $color-yellow;
                padding: 1rem 0 1rem 0;
                border-radius: 0.9rem;

                p, span{
                    margin: 1rem;
                    color: $color-main;
                }
                span{
                    background: $color-main;
                    color: $color-withe;
                    padding: 0.3rem 0.9rem 0.3rem 0.9rem;
                    border-radius: 0.9rem;
                }
            }
            .recomendationPlanOne, .recomendationPlanThree{
                background: $color-withe;
            }

            .board{
                border: 1px solid #EEEEEE;
            }

            ul{
                li{
                    margin: 1rem;
                    list-style: none;

                    i {
                        margin-right: 0.6rem;
                        color: $color-green;
                    }
                }
            }

            .btn {
                position: absolute;
                text-align: center;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 1rem;
                border: 1px solid $color-main;
                border-radius: 0.7rem;
                margin: 0 5rem 1rem 5rem;
                cursor: pointer;
                transition: 0.5s;
            }
            .btn-different-color{
                background: #1D539E;
                color: $color-withe;
            }
            .btn:hover{
                opacity: 0.2;
            }
        }
       

        .t-header{

            h1{
                font-size: 2rem;
                font-weight: 600;
                margin: 1rem;

                span{
                    font-size: 1rem;
                    font-weight: 200;
                    color: $color-gray;
                }
            }
            p{
                font-weight: 200;
                font-size: 1rem;
            }
        }
       
   }
   
}

@media(max-width:600px){
    header{
        height: 30vh;
        p{
            padding: 0;
            font-size: 1rem;
        }
        h1{
            font-size: 2rem
        }
    }
    .pricingTable {
        height: 100%;
        .content{
            flex-direction: column;
            position: relative;
        }
        .box{
            width: 350px;
        }
    }
}